.backImage{
    position: relative;
    width: 99.7%;
    left: 2px;
    top: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.5); position: relative;       /* parent container */
   
}
.img1 {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
        opacity: 0.3;
}
.MovieInfo{
    display: flex;
    position: absolute;
    bottom: 4%;
    flex-direction: row;
    align-items: baseline;
    gap: 45px;
    left: 7%;
}
.aboutimage{
    width: 230px;
    height: 320px;
    border-radius: 15px;
    opacity: 0.9;

}
.RateDiv{
 
    width: 350px;
    background-color: rgb(51 51 51 / 88%);
    border-radius: 10px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
.moviename{
        position: relative;
        bottom: 75px;

}
.trailer{
   border: 1px solid #6656569c;
    position: absolute;
    top: 45%;
    border-radius: 9px;
    left: 9%;
    width: 21%;
    opacity: 2;
    background: rgba(34, 34, 34, 0.7);
    height: 27px;
    /* color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.trailerLink{
        color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: fangsong;
    /* padding-left: 15px; */
    font-weight: 400;

}
.rateBtn{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding: 2px 15px;
}
.BookTicketdiv{
       height: 40px;
    width: 140px;
    display: flex;
    background: #e22f2f;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    position: absolute;
     border-radius: 6px;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.5);
}
.detailspan{
    font-size: 17px;
    font-weight: 600;
    font-family: fangsong;
    padding-left: 4px;


}
.Aboutdiv{
    margin: 2% 8%;
    display: flex;
    margin-left: 8%;
    flex-direction: column;
}
.castConatiner{
    margin: 0 8%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: start;
    justify-items: center;
    width: fit-content;
}
.castList{
    width: 100px;
    height: 150px;
    /* border:2px solid red; */
}
.castImg{
    width: 100%;
    height: 100px;
    border-radius: 6px;

}